#overlay {
    height: 100%;
    width: 100%;
    z-index: 999999;
    background-color: #111;
    opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

#message {
    top: 25%;
    left: 25%;
    position: fixed;
    width: 50%;
    background-color: #333;
    opacity: 0.8;
    color: #fff;
    padding: 5px;
}

#message h1 {
    font-size: 3em;
    color: #0bf;
}

#message p {
    font-size: 1.3em;
}

#message strong {
    color: #0bf;
}

.blur {
    -webkit-filter: blur(3px);
}